---
import FontToggle from '@/components/FontToggle.astro'
import Link from '@/components/Link.astro'
import ThemeToggle from '@/components/ThemeToggle.astro'
import { NAV_LINKS, SITE } from '@/consts'
import { withBase } from '@/lib/utils/url'
---

<div>
  <div
    class="container-responsive flex items-center justify-between gap-4 py-3"
  >
    <Link href="/" class="flex shrink-0 items-center justify-center gap-3">
      <img
        src={withBase('/static/logo-48.webp')}
        srcset={`${withBase('/static/logo-48.webp')} 1x, ${withBase('/static/logo-96.webp')} 2x`}
        alt="Logo"
        width="24"
        height="24"
        class="size-5 sm:size-6 dark:hidden"
      />
      <img
        src={withBase('/static/dark_logo-48.webp')}
        srcset={`${withBase('/static/dark_logo-48.webp')} 1x, ${withBase('/static/dark_logo-96.webp')} 2x`}
        alt="Logo"
        width="24"
        height="24"
        class="hidden size-5 sm:size-6 dark:block"
      />
      <span
        class="hidden h-full text-lg leading-none font-medium min-[400px]:block"
        >{SITE.title}</span
      >
    </Link>
    <div class="flex items-center gap-4">
      <nav class="flex items-center gap-4 text-sm sm:gap-6">
        {
          NAV_LINKS.map((item) => (
            <Link
              href={item.href}
              class="text-foreground/60 hover:text-foreground capitalize transition-colors"
            >
              {item.label}
            </Link>
          ))
        }
      </nav>
      <FontToggle transition:persist />
      <ThemeToggle transition:persist />
    </div>
  </div>
</div>
